[submodule "Cosmology"]
	path = Cosmology
	url = git@github.com:pasha-bolokhov/books-Cosmology
	branch = master
[submodule "SymmetryGroups"]
	path = SymmetryGroups
	url = git@github.com:pasha-bolokhov/books-SymmetryGroups.git
	branch = master
